@media only screen and (max-width: 360px) {
/* code for index.html, contact.html and product.html */
	main{
		height: auto;
		width: 100%;
		float: left;
		text-align: center;
	}


	body{
		margin: 0px;
	}

	footer{
		font-family: Arial, serif;
		font-size: 1.1em;
		color: #ffffff;
		padding-top: 10px;
		padding-bottom: 15px;
		list-style-type: none;
		background-color: #000000;
		width: fill;
		overflow: hidden;
		float: left;
		width: 100%;
		margin-top: 13px;
	}

	.company{
		color: #ffffff;
		font-size: 2.7em;
		font-family: Berlin sans, serif;
		text-align: middle;
		padding-top: 18px;
		padding-left: 14px;
		position: absolute;
	}

	.header{
		background-image: url("../img/companylogoBG.jpg");
		background-size: cover;
		background-position: center;
		height: 80px;
		width: 100%;
		float: left;
	}

	nav{
		background-color: #707070;
		width: 97.8%;
		height: 40px;
		border-style: solid;
		border-color: #ffffff;
		border-width: 4px;
		float: left;
	}

	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden; 		
	}

	li{
		float: center;
		vertical-align: center;
		display: inline-block;
	}


	li a {
		display: block;
		color: #ffffff;
		text-align: center;
		padding: 12px 16px;
		text-decoration: none;
	}


	.titles{
		background-color: #2699fb;
		height: auto;	
		float: left;
		width: 100%;
		margin: 0;
		padding-top: 7px;
		padding-bottom: 7px;
		font-family: Arial, serif;
		font-size: 1.6em;
		color: #ffffff;
	}




	/* code for index.html */
	.fotosindex{
		width: 100%;
		float: left;
	}

	.boxindexmobile{
		height: 140px;
		width: 97.7%;
		margin: 4px;	
		overflow: hidden;
		float: left;
	}

	#foto1{
		width: 100%;
		margin-top: -16px;
	}
	#foto2{
		width: 100%;
		margin-top: -65px;
	}
	#foto3{
		margin-top: -47px;
	}
	#foto4{
		margin-top: -25px;
	}

	/* not for mobile */

	.notformobile{
		display: none;
	}

		/* code for contact.html */
	.moreinformation{
		font-family: arial, serif;
		float: left;
		font-size: 2em;
		color: #707070;
		padding-left: 25px;
		padding-top: 25px;
		width: 100%;
		text-align: left;
	}

	.inputs{
		font-family: arial, serif;
		font-size: 1em;
		text-align: left;
		color: #AAAAAA;
		width: 100%;
		border-style: none;
		float: left;
	}

	.heighttextarea{
		height: 150px;
	}

	.contactFormFieldset{
		margin-top: 15px;
		background-color: #ffffff;		
	}

	.selecttopic{
		font-family: arial, serif;
		font-size: 1em;
		text-align: left;
		float: left;
		color: #AAAAAA;
	}

	.dropmenu{
		font-family: arial, serif;
		font-size: 1em;
		width: 100%;
		float: right;
		color: #707070;
		background-color: #ffffff;
		text-align: right;
		padding-right: 20px;
		margin-top: 15px;
	}

	
	.hamburgericon{
		width: 33px;
		height: 9.4px;
		background-color: #ffffff;
		margin: 3px 0 0 3px; 
		position: relative;
		z-index: 1;
		text-align: left;
	}

	.wholedropdown {	
		float: left;
		position: absolute;
	}

	.dropdownbar {
		margin-top: 0px;
		display: none;
		background-color: #707070;
		min-width: 160px;
		padding: 12px 1px;
		position: absolute;
		z-index: 4;
	}

	.wholedropdown:hover .dropdownbar {
		display: block;
		z-index: 3;
		position: absolute;
		margin-top: 5px;
	}

	.options{
		font-family: arial, serif;
		font-size: 1.4em;
		color: #ffffff;
		text-decoration: none;
		float: left;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}


	.button{
		float: left;
		font-family: arial, serif;
		font-size: 1em;
		height: 30px;
		color: #ffffff;
		background-color: #2699FB; 
		margin-top: 15px;
		margin-bottom: 15px;
		width: 100%
		
	}

	.totalform{
		background-color: #f5f5f5;
		border-style: solid;
		border-color: #000000;
		border-width: 1px;
		float: left;
		width: fill;
		padding-top: 30px;
	}

	form{
		float: left;
		margin-left: 10%;
		margin-right: 10%;
	}



	/* code for product.html */
	#foto5{
		margin-top: -30px;
		width: 100%;
	}

	#foto6{
		width: 100%;
		margin-top: -5px;
	}

	#foto7{
		height: 100%;
		margin-left: -40px;
	}

	#foto8{
		width: 100%;
		margin-top: -20px;
	}

	#foto9{
		width: 100%;
		margin-top: -15px;
	}

	#foto10{
		width: 100%;
		margin-top: -25px;

	}

	#foto11{
		width: 100%;
		margin-top: -10px;
	}

	#foto12{
		width: 100%;
		margin-top: -30px;
	}

	#foto13{
		height: 100%;
		margin-left: -10px;
	}

	#foto14{
		height: 100%;
		margin-bottom: -15px;
	}

	#foto15{
		width: 100%;
		margin-top: -150px;
	}

	#foto16{
		width: 100%;
		margin-top: -10px;
	}

	.box{
		width: 90.6%;	
		height: 12em;
		overflow: hidden;	
		float: left;
		margin-left: 16px;
		margin-top: 16px;
		border-style: solid;
		border-width: 1px;
		border-color: #AAAAAA;
	}


}