/* this code is the same on all platforms */
@font-face {
		font-family: Berlinsans;
		src: url(../fonts/BERLINSANS.TTF);
	}

	h1{
		font-weight: normal;
		padding: 0px;
		margin: 0px;
	}

	h2{
		font-weight: normal;
		padding: 0px;
		margin: 0px;
	}

		/* makes the text in the form boxes grey */
	::placeholder {
		color: #AAAAAA;
		opacity: 1; /* Firefox */
	}
